body{
    margin: 0;
}
nav{
    height: 50pt;
    align-items: center;
    background-color: #e98251;
    display: flex;
    height: 60 px;
    justify-content: space-evenly;
    
}

nav a{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    font size: 25pt;
}

head{
    background-image:image-set(http://rpgnarutoworldninja.weebly.com/uploads/2/4/1/9/24197261/1169369_orig.jpg);
    display: flex;
} 

section{
    background-color:#b0946b;
    display: flex;
    justify-content: space-evenly;
    font family:'Roboto', sans-serif
}
p{
    font-family: 'Roboto', sans-serif;
}
div{
    text-align: center;
    width: 40%;
}
h2{
    font-family:'Roboto', sans-serif;
    font-size: 25px;
}

}
ul{
    font-family: 'Roboto', sans-serif;
}
ul li:nth-child(even){
    color: antiquewhite
}
h3{
    font-family: 'Roboto', sans-serif
}
input::placeholder{
    font-family: 'Roboto', sans-serif
}
input:focus{
    background-color:rgb(250, 137, 117);
    width: 150px;
    height: 20px;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center
}